/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08-Nov-2018, 14:27:53
    Author     : D00218208
*/
.home-bg{
    background:url(../media/map.png) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

.games-bg{
    background:url(../media/gamesBackground.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

@font-face
{
    font-family: Berry Rotunda;
    src:url(../fonts/berryRotunda.ttf)
}

.media-bg{
    background:url(../media/mediaBackground.jpg) no-repeat center center fixed;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}

#logo{
    height: 5em;  
}

.topNav{
    background-color: #808080;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#subM:hover .sub{
    display: block;
    background-color: #595959
}

nav li{
    list-style: none;
    padding: 0;
    margin: 0.5em;
    display: inline-block;
    position: relative;
}

nav li a {
    text-decoration: none;
}

.sub{
    display: none;
    position: absolute;
    z-index: 1;
    margin-left: -1.6em;
    height: 12em;
}

.sub li{
    padding: 0;
    margin: 0;
    font-size: 80%;
    margin-left: -1.2em;
}

.sub li a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

.sub a{
    color: #479e98;
    margin-right: 0.3em;
}

header nav ul li{
    font-size: 200%;
    font-family: Berry Rotunda;
}

#arena{
    height: 3em;
}

#daggerfall{
    height: 4em;
}

#morrowind{
    height: 2em;
}

#oblivion{
    height: 2em;
}

#skyrim{
    height: 2em;
}

#welcome{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 50em;
    height: 20em;
    left: 0;
    overflow: auto;
}

h3{
    font-family: Berry Rotunda;
    font-size: 150%;
    text-align: center;
    padding: 1.25em;
}

p{
    padding-left: 1.5em;
    padding-right: 1.5em;
      
}

#history{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 10em;
    height: 30em;
    left: 0;
    overflow: auto;
}

#history img{
    float: left;
    height: 3em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#games{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 10em;
    height: 33em;
    left: 0;
    overflow: auto;
}

#gamesList{
    padding-top: 1.5em;
    width: 80%;
    border-collapse: collapse;
}

#gamesList th {
    text-align: center;
    padding-top: 2em;
    border-bottom: solid;
    border-bottom-width: 1px;
    font-size: 135%;
}

#space{
    height: 1em;
}

table, td, th { 
    border: 1px solid brown;
}

#arenaCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#arenaAbout{
    width: 100%;
    margin-top: 50em;
    height: 92em;
    left: 0;
    overflow: auto;
    background: rgba(245,222,179,0.8);
}

#arenaFacts{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 15em;
    left: 0;
    overflow: auto;
}

#daggerfallCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#daggerfallAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 86em;
    left: 0;
    overflow: auto;
}

#daggerfallFacts{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 13em;
    left: 0;
    overflow: auto;
}

#storeLink{
   font-size: 250%;
   padding-left: 1em;
   padding-right: 1em;
}

#morrowindAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 88em;
    left: 0;
    overflow: auto;
}

#morrowindFacts{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 15em;
    left: 0;
    overflow: auto;
}

#morrowindCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#oblivionAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 91em;
    left: 0;
    overflow: auto;
}

#oblivionFacts{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 15em;
    left: 0;
    overflow: auto;
}

#oblivionCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#skyrimAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 89em;
    left: 0;
    overflow: auto;
}

#skyrimFacts{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 15em;
    left: 0;
    overflow: auto;
}

#skyrimCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#arenaMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 53em;
    height: 114em;
    left: 0;
    overflow: auto;
}

.arenaImage{
    height: 17em; 
    margin-left: 1em;
    margin-right: 1em;
}

#arenaLogo{
    height : 17em;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#daggerfallMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 115em;
    left: 0;
    overflow: auto;
}

.daggerfallImage{
    height: 17em;
    margin-left: 1em;
    margin-right: 1em;    
}

#daggerfallLogo{
    height : 17em;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#morrowindMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 95em;
    left: 0;
    overflow: auto;
}

.morrowindImage{
    height: 17em;
    margin-left: 1em;
    margin-right: 1em;    
}

#morrowindLogo{
    height : 7em;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#oblivionMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 93em;
    left: 0;
    overflow: auto;
}

.oblivionImage{
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;    
}

#oblivionLogo{
    height : 7em;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#skyrimMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 97em;
    left: 0;
    overflow: auto;
}

.skyrimImage{
    height: 16em;
    margin-left: 1em;
    margin-right: 1em;  
}

#skyrimLogo{
    height : 9em;
    margin-top: 3em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

#arenaMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#daggerfallMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#morrowindMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#oblivionMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#skyrimMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

video{
    margin-bottom: 3em;
}

footer{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 3em;
    height: 2em;
    left: 0;
}

.map{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 50em;
    height: 70em;
    left: 0;
    display: block;
    overflow: auto;
}

#googleMap iframe{
    width: 80%;
    margin-bottom: 1.5em;
    height: 50em;
}

#battlespireAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 50em;
    height: 89em;
    left: 0;
    overflow: auto;
}

#battlespireCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#redguardAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 77em;
    left: 0;
    overflow: auto;
}

#redguardCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#travelsAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 54em;
    left: 0;
    overflow: auto;
}

.travelsCover{
    height: 20em;
    margin-top: 4em;
    display: inline-block;  
    margin-left: 7em;
    margin-right: 7em; 
}

#esoAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 89em;
    left: 0;
    overflow: auto;
}

#esoCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#legendsAbout{
    background: rgba(245,222,179,0.8);
    width: 100%;
    margin-top: 4em;
    height: 87em;
    left: 0;
    overflow: auto;
}

#legendsCover{
    height: 50em;
    margin-top: 4em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#downloads{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 13em;
    left: 0;
    overflow: auto;
    font-size: 150%;
    text-align: center;
}

mark{
    background-color: #F5DEB3;
    color: black;    
}

#easterEgg{
    height: 5em;
    left: 0;
    opacity: 1;
    margin-bottom: -3.2em;  
}

#arenaSprite{
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

#daggerfallSprite{
    height: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe{
    height: 40em;  
    width: 45%;
}

#eventImage{
    width: 70%;
    margin-top: 6em;
}

#signUpForm{
    background-color: #808080;
    width: 100%;
    margin-top: 10em;
    height: 78em;
    left: 0;
    display: block;
    overflow: auto;
}

.row{
    padding: 0.2em;
}

.req{
    color: red;
}

li a{
    color: #613228;
}

#otherMedia{
    background-color: #808080;
    opacity: 1;
    width: 100%;
    margin-top: 20em;
    height: 72em;
    left: 0;
    overflow: auto;
    font-size: 150%;
    text-align: center;    
    overflow: auto;
}

#otherMedia a img:hover{
    transition: all .2s ease-in-out;
    transform: scale(1.1);
}

#evolutionImage{
    margin-top: 7em;
    height: 27em;
    
}

th{
    font-size: 170%;
    font-family: Berry Rotunda;
    color: #613228;   
}

table tr{
    background-color: #F5DEB3;
}

.mug{
    height: 21em;
}

#order table{
    border-collapse: collapse;
    width: 80%;
    margin-left: auto;
    margin-right: auto;   
}

#order table td, #order table th{
    border: 1px solid black;
    padding: 1em;
}

#order table tr:nth-child(even){
    background-color: #734940;
}

#order table tr:hover{
    background-color: #ddd; 
}

#order table th{
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: left;
    background-color: #F5DEB3;;
    color: black;   
}

table tr:hover{
    background-color: #ddd; 
}

#order{
    height: 2em;
    width: 17%;
    background-color: #808080;
    overflow: auto;
}

#event{
    background-color: #808080;
    height: 64em;    
    margin-top: 50em;
    overflow: auto;
}